<a class="hero-promo  component--col-darkgrey" href="/pl/polski-lad.html">
	<div class="hero-promo__image " style="background-image: url(/content/dam/pwc/pl/pl/images/GettyImages-546362289_1600.jpeg)">
		<!-- Background image - block level element instead of inline background-image -->
		<!-- <img class="img-responsive--stretch" src="/content/dam/pwc/pl/pl/images/GettyImages-546362289_1600.jpeg"/>-->
	</div>

	<header class="hero-promo__title">    
        <div class="container">
            <div class="row">			
				<!-- solid panel -->	
                <div class="hero-promo__title-textpanel col-xs-12 col-md-8"> 
					<h2 class="hero-promo__title-heading regular">
						<span class="highlight__inner">Polski Ład
						</span></h2>
					<p class="hero-promo__title-abstract lead">
					<span class="highlight__inner">Najważniejsze informacje o Polskim Ładzie w jednym miejscu, aktualizowane na bieżąco. 
					</span></p>
					<!-- Button on solid background -->
					<div class="clearfix">
						<span href="#" class=" btn btn--secondary btn--transparent hero-promo__title-btn" role="button">Sprawdź<i class="btn-arrow"></i></span>
					</div>	
				</div>
            </div>
        </div>       
	</header>
</a>